<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="homeusu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <title>Home Usuário</title>
</head>
<body>
    <div class="container">
        {{#if profilePicture}}
            <div class="ft_perfil">
                <img class="img_perfil" src="{{profilePicture}}" alt="Imagem de Perfil">
            </div>
            <h1>{{username}}!</h1>
            <h3>Alterar Foto de Perfil</h3>
            <form action="/uploadFotoPerfil" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit">Alterar</button>
            </form>
        {{else}}
         <div class="ft_perfil">
            <img class="img_perfil" src="dflt.jpeg" alt="Imagem Default de Perfil">
        </div>

            <h1>{{username}}!</h1>
            <h3>Upload de Foto de Perfil</h3>
            <form action="/uploadFotoPerfil" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit">Enviar</button>
            </form>
        {{/if}}
        {{{logout}}}
    </div>
</body>
</html>
